<%- include('header'); -%>

<section class="single-page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Contact Us</h2>
      </div>
    </div>
  </div>
</section>

<section class="contact-us" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="title text-center">
          <h2>Get In Touch</h2>
          <div>
            Ready to explore the possibilities with us? Whether you have
            questions, ideas, or collaboration in mind, we'd love to hear from
            you. Feel free to reach out and get in touch – our team is here to
            engage, assist, and turn your visions into reality. Connect with us
            today, and let's embark on a journey of innovation together.
          </div>
          <div class="border"></div>
        </div>
      </div>
      <div class="contact-details col-md-6">
        <h3>Contact Details</h3>
        <div>
          Feel free to connect with us for inquiries, collaboration
          opportunities, or just to say hello – we value every conversation and
          can't wait to hear from you!
        </div>
        <ul class="contact-short-info">
          <li>
            <i class="tf-ion-ios-home"></i>
            <span>Khaja Road, Bayzid, Chittagong, Bangladesh</span>
          </li>
          <li>
            <i class="tf-ion-android-phone-portrait"></i>
            <span>Phone: +917201928142</span>
          </li>
          <li>
            <i class="tf-ion-android-mail"></i>
            <span>Email: shreyansh@gtglobals.com</span>
          </li>
        </ul>
        <div class="social-icon">
          <ul>
            <li>
              <a href="#"><i class="tf-ion-social-facebook"></i></a>
            </li>
            <li>
              <a href="#"><i class="tf-ion-social-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="tf-ion-social-dribbble-outline"></i></a>
            </li>
            <li>
              <a href="#"><i class="tf-ion-social-linkedin-outline"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="contact-form col-md-6">
        <form id="contact-form" method="post" role="form">
          <div class="form-group">
            <input
              type="text"
              placeholder="Your Name"
              class="form-control"
              name="name"
              id="name"
            />
          </div>
          <div class="form-group">
            <input
              type="email"
              placeholder="Your Email"
              class="form-control"
              name="email"
              id="email"
            />
          </div>
          <div class="form-group">
            <input
              type="number"
              placeholder="Your Phone Number"
              class="form-control"
              name="phone"
              id="phone"
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              placeholder="Subject"
              class="form-control"
              name="subject"
              id="subject"
            />
          </div>
          <div class="form-group">
            <textarea
              rows="6"
              placeholder="Message"
              class="form-control"
              name="message"
              id="message"
            ></textarea>
          </div>
          <div id="success" class="success">
            Thank you. The Mailman is on His Way :)
          </div>
          <div id="error" class="error">
            Sorry, don't know what happened. Try later :(
          </div>
          <div id="cf-submit">
            <input
              type="submit"
              id="contact-submit"
              class="btn btn-transparent"
              value="Submit"
            />
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<%- include('footer'); -%>
