<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html>
  <!--<![endif]-->
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta
      name="description"
      content="Bingo One page parallax responsive HTML Template "
    />

    <meta name="author" content="Themefisher.com" />

    <title>Custom software engineering company</title>

    <!-- Mobile Specific Meta
  ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png" />

    <!-- CSS
  ================================================== -->
    <!-- Themefisher Icon font -->
    <link rel="stylesheet" href="/plugins/themefisher-font/style.css" />
    <!-- bootstrap.min css -->
    <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css" />
    <!-- Lightbox.min css -->
    <link
      rel="stylesheet"
      href="/plugins/lightbox2/dist/css/lightbox.min.css"
    />
    <!-- animation css -->
    <link rel="stylesheet" href="/plugins/animate/animate.css" />
    <!-- Slick Carousel -->
    <link rel="stylesheet" href="/plugins/slick/slick.css" />
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body id="body">
    <!--
Fixed Navigation
==================================== -->
    <header class="navigation fixed-top">
      <div class="container">
        <!-- main nav -->
        <nav class="navbar navbar-expand-lg navbar-light">
          <!-- logo -->
          <a class="navbar-brand logo" href="/">
            <img
              class="logo-default"
              src="images/gt_logo_black.svg"
              alt="logo"
            />
            <img class="logo-white" src="images/gt_logo_white.svg" alt="logo" />
          </a>
          <!-- /logo -->
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navigation"
            aria-controls="navigation"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navigation">
            <ul class="navbar-nav ml-auto text-center">
              <li class="nav-item dropdown active">
                <a class="nav-link" href="/" id="navbarDropdown" role="button">
                  Homepage
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/service">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/pricing">Pricing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
              </li>
            </ul>
          </div>
        </nav>
        <!-- /main nav -->
      </div>
    </header>
    <!--
      <div class="collapse navbar-collapse" id="navigation">
        <ul class="navbar-nav ml-auto text-center">
          <li class="nav-item dropdown <%if (path==='/') { %> active <% } %>"> 
            <a class="nav-link " href="/" id="navbarDropdown" role="button" >
              Homepage
            </a>
            
          </li>
          <li class="nav-item <%if (path==='/about') { %> active <% } %>">
            <a class="nav-link" href="/about">About Us</a>
          </li>
          <li class="nav-item <%if (path==='/service') { %> active <% } %>">
            <a class="nav-link" href="/service">Services</a>
          </li>
          <li class="nav-item <%if (path==='/portfolio') { %> active <% } %>">
            <a class="nav-link" href="/portfolio">Portfolio</a>
          </li>
          <li class="nav-item <%if (path==='/team') { %> active <% } %>">
            <a class="nav-link" href="/team">Team</a>
          </li>
          <li class="nav-item <%if (path==='/pricing') { %> active <% } %>">
            <a class="nav-link" href="/pricing">Pricing</a>
          </li>
          <li class="nav-item <%if (path==='/contact') { %> active <% } %>">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
          <li class="nav-item <%if (path==='/blog') { %> active <% } %>">
            <a class="nav-link" href="/blog">Blog Page</a>
          </li>  
        </ul>
      </div>
    </header>
    <!--
End Fixed Navigation
==================================== -->
  </body>
</html>
