<%- include('header'); -%>

<div class="hero-slider">
  <div class="slider-item th-fullpage hero-area" style="background-image: url(images/slider/slider-bg-1.jpg)">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1 data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1">
            UXRealm: Bridging Code <br />
            and Design
          </h1>
          <p data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".5">
            From Code to Comfort – Where Responsiveness Meets Innovation.
          </p>
          <a data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".8" class="btn btn-main" href="/service">Explore Us</a>
        </div>
      </div>
    </div>
  </div>
  <div class="slider-item th-fullpage hero-area" style="background-image: url(images/slider/slider-bg-2.jpg)">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1 data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".1">
            CodeCanvas: Where Ideas <br />
            Flourish
          </h1>
          <p data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".5">
            Pioneering the Next Generation of Online Experiences.
          </p>
          <a data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".8" class="btn btn-main" href="/service">Explore Us</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="support-service-area fix area-padding-2">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="section-headline text-center support-service-area-title">
          <h3>Technical expertise</h3>
          <p>
            GtTechnologies revolutionizes businesses across multiple industries
            by leveraging expertise gained many years of operations.
          </p>
        </div>
      </div>
    </div>
    <div class="">
      <!-- <div class="support-service-area services">

			</div> -->
      <div class="support-all">
        <div class="top-background">
          <svg xmlns="http://www.w3.org/2000/svg" width="250" height="257" viewBox="0 0 250 257" fill="none">
            <path d="M49.3083 103.233L35.5697 88.4689C31.1611 83.2913 27.0258 78.0966 22.6172 72.6627C14.0732 61.5727 7.34066 49.4745 2.40223 36.3853C1.12064 32.643 0.385878 28.7983 0.197908 24.851C0.00994782 22.322 0.266258 19.8442 0.932678 17.3836C1.59911 14.94 2.65854 12.6674 4.09392 10.5827C5.66596 8.54921 7.51146 6.82334 9.64746 5.37088C11.7664 3.9355 14.0733 2.85897 16.5339 2.15837C20.7888 0.928048 25.0949 0.586292 29.4865 1.11601C36.7146 2.56848 43.7206 4.72154 50.5045 7.60938C57.2883 10.4972 63.7133 14.0344 69.7795 18.2209C92.5918 33.1727 114.191 49.7138 134.559 67.8439C154.945 85.8887 174.169 105.112 192.214 125.498C210.822 146.106 226.765 168.594 240.025 192.995C243.375 199.813 246.023 206.887 247.92 214.235C248.638 216.508 249.15 218.832 249.441 221.19C249.731 223.565 249.817 225.94 249.663 228.316C249.526 230.691 249.167 233.049 248.586 235.356C248.005 237.663 247.219 239.918 246.245 242.088C245.528 243.37 244.69 244.6 243.768 245.745C242.845 246.89 241.837 247.967 240.726 248.941C239.632 249.915 238.453 250.803 237.206 251.589C235.959 252.375 234.66 253.059 233.293 253.623C228.73 255.554 223.98 256.459 219.042 256.34C211.284 255.912 203.816 254.221 196.622 251.282C183.362 245.865 171.144 238.705 159.952 229.768C149.016 221.275 139.002 211.826 129.894 201.402C120.855 190.927 113.302 179.496 107.219 167.073C105.664 164.031 104.331 160.904 103.186 157.692C102.058 154.479 101.136 151.198 100.435 147.866C99.734 144.534 99.256 141.168 99 137.767C98.743 134.367 98.726 130.966 98.914 127.566C99.82 134.076 101.495 140.399 103.921 146.499C106.347 152.617 109.475 158.341 113.285 163.707C120.77 174.438 129.416 184.161 139.19 192.858C148.383 201.471 158.363 209.075 169.128 215.636C179.893 222.198 191.206 227.615 203.064 231.853C208.259 233.681 213.625 234.501 219.127 234.313C224.048 234.313 225.74 232.365 226.253 231.067C226.611 229.204 226.697 227.307 226.526 225.428C226.355 223.531 225.911 221.703 225.21 219.925C223.331 214.355 220.955 208.989 218.085 203.863C204.91 181.82 189.531 161.434 171.965 142.706C154.774 122.969 136.593 104.173 117.42 86.35C98.555 68.2711 78.7848 51.2517 58.0744 35.3087C53.3923 31.5323 48.4027 28.2173 43.1225 25.3636C37.8253 22.5099 32.323 20.1689 26.5986 18.3234C25.693 17.9817 24.7531 17.7766 23.7791 17.6912C22.8051 17.6057 21.8482 17.6399 20.8913 17.8108C19.9344 17.9817 19.0116 18.2722 18.1402 18.6823C17.2687 19.1095 16.4484 19.6221 15.7137 20.2544C14.022 21.0233 13.3726 27.38 14.808 33.2069C17.9864 45.6981 22.8735 57.4887 29.4523 68.5787C35.1596 80.3693 42.4048 91.7669 49.2741 103.164L49.3083 103.233Z" fill="url(#paint0_linear_110_4)" />
            <defs>
              <linearGradient id="paint0_linear_110_4" x1="125" y1="1" x2="124.938" y2="256.35" gradientUnits="userSpaceOnUse">
                <stop stop-color="#2089B6" />
                <stop offset="1" stop-color="#53BCE9" />
              </linearGradient>
            </defs>
          </svg>
        </div>
        <div class="bottom-background">
          <svg xmlns="http://www.w3.org/2000/svg" width="462" height="444" viewBox="0 0 462 444" fill="none">
            <path d="M368.009 261.704L393.698 287.133C401.973 296.081 409.761 305.079 418.055 314.486C434.171 333.718 447.117 354.888 456.923 377.965C459.494 384.573 461.092 391.404 461.719 398.459C462.241 402.974 461.965 407.43 460.952 411.886C459.938 416.31 458.208 420.458 455.791 424.297C453.125 428.054 449.947 431.281 446.229 434.039C442.54 436.765 438.488 438.862 434.133 440.298C426.604 442.814 418.918 443.743 411.014 443.117C397.963 441.047 385.259 437.707 372.898 433.034C360.537 428.361 348.771 422.499 337.6 415.448C295.648 390.35 255.753 362.316 217.943 331.346C180.11 300.53 144.271 267.518 110.457 232.338C75.618 196.801 45.4141 157.703 19.8737 114.98C13.3746 103.016 8.11137 90.5427 4.17442 77.5238C2.72208 73.5066 1.63319 69.3826 0.939598 65.1811C0.244748 60.9489 -0.0828919 56.7017 0.0178781 52.4368C0.0880481 48.1733 0.557288 43.9239 1.42811 39.7501C2.29893 35.5763 3.54072 31.4792 5.12541 27.5213C6.31642 25.1735 7.7254 22.9086 9.29367 20.7906C10.862 18.6725 12.5883 16.6705 14.5057 14.8445C16.3926 13.0199 18.4387 11.3419 20.6147 9.84259C22.7908 8.34319 25.0662 7.02379 27.4728 5.91339C35.5013 2.12005 43.9417 0.14889 52.7942 0C66.7184 0.19462 80.2153 2.67511 93.3144 7.40949C117.459 16.1351 139.865 28.0585 160.565 43.2398C180.774 57.6444 199.401 73.8304 216.478 91.8273C233.436 109.921 247.802 129.837 259.609 151.637C262.617 156.969 265.234 162.471 267.521 168.14C269.776 173.81 271.67 179.618 273.17 185.533C274.669 191.449 275.774 197.442 276.483 203.513C277.192 209.584 277.472 215.672 277.386 221.775C275.285 210.183 271.822 198.984 267.028 188.238C262.233 177.461 256.212 167.44 248.993 158.111C234.801 139.444 218.602 122.668 200.459 107.811C183.363 93.0642 164.933 80.1806 145.172 69.2214C125.411 58.2622 104.755 49.3934 83.2063 42.6763C73.7692 39.784 64.1003 38.7096 54.2606 39.4508C45.4476 39.8126 42.5613 43.4255 41.7388 45.7889C41.2331 49.1507 41.2196 52.5537 41.6638 55.9073C42.1092 59.2914 43.0393 62.533 44.4246 65.664C48.2003 75.5017 52.8483 84.9357 58.3661 93.9049C83.5801 132.411 112.619 167.787 145.454 200.034C177.69 234.114 211.631 266.438 247.275 296.945C282.388 327.934 319.045 356.959 357.305 383.987C365.967 390.405 375.146 395.975 384.812 400.697C394.508 405.418 404.534 409.206 414.921 412.09C416.567 412.635 418.266 412.933 420.016 413.015C421.767 413.096 423.478 412.964 425.179 412.588C426.88 412.212 428.511 411.624 430.042 410.825C431.571 409.996 433.002 409.018 434.271 407.831C437.244 406.33 437.94 394.899 434.941 384.569C428.331 362.434 418.712 341.679 406.115 322.302C395.028 301.607 381.215 281.729 368.075 261.824L368.009 261.704Z" fill="url(#paint0_linear_110_6)" />
            <defs>
              <linearGradient id="paint0_linear_110_6" x1="230.989" y1="0" x2="230.989" y2="443.306" gradientUnits="userSpaceOnUse">
                <stop stop-color="#2089B6" />
                <stop offset="1" stop-color="#53BCE9" />
              </linearGradient>
            </defs>
          </svg>
        </div>
        <!-- Start About -->
        <div class="">
          <div class="support-services wow">
            <div class="support-images align-items-center justify-content-center d-flex">
              <svg width="1em" height="1em" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="icon-gradient">
                <path d="M12 1.25C6.072 1.25 1.25 6.073 1.25 12C1.25 17.927 6.072 22.75 12 22.75C17.928 22.75 22.75 17.927 22.75 12C22.75 6.073 17.928 1.25 12 1.25ZM21.212 11.25H17.162C17.031 8.507 16.187 5.71201 14.727 3.16101C18.27 4.25701 20.903 7.43 21.212 11.25ZM12.73 2.78699C14.486 5.39799 15.509 8.36 15.662 11.25H8.33801C8.49001 8.36 9.51399 5.39799 11.27 2.78699C11.512 2.76799 11.754 2.75 12 2.75C12.246 2.75 12.489 2.76799 12.73 2.78699ZM9.27301 3.16101C7.81301 5.71201 6.96901 8.507 6.83801 11.25H2.78799C3.09699 7.43 5.73001 4.25701 9.27301 3.16101ZM2.78799 12.75H6.83801C6.96901 15.493 7.81301 18.288 9.27301 20.839C5.73001 19.743 3.09699 16.57 2.78799 12.75ZM11.27 21.213C9.51399 18.602 8.49101 15.64 8.33801 12.75H15.662C15.51 15.64 14.486 18.602 12.73 21.213C12.488 21.232 12.246 21.25 12 21.25C11.754 21.25 11.511 21.232 11.27 21.213ZM14.727 20.839C16.187 18.288 17.031 15.493 17.162 12.75H21.212C20.903 16.57 18.27 19.743 14.727 20.839Z"></path>
              </svg>
            </div>
            <div class="support-content">
              <h4>Web & intranet solutions</h4>
              <p>
                Get company-focused intranet solutions empowering process
                organization, collaboration, and efficient delivery of business
                results.
              </p>
            </div>
          </div>
        </div>
        <!-- Start About -->
        <div class="">
          <div class="support-services">
            <div class="support-images align-items-center justify-content-center d-flex">
              <svg width="1em" height="1em" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="icon-gradient">
                <path d="M16 21.75H8C5.582 21.75 4.25 20.418 4.25 18V6C4.25 3.582 5.582 2.25 8 2.25H16C18.418 2.25 19.75 3.582 19.75 6V18C19.75 20.418 18.418 21.75 16 21.75ZM8 3.75C6.423 3.75 5.75 4.423 5.75 6V18C5.75 19.577 6.423 20.25 8 20.25H16C17.577 20.25 18.25 19.577 18.25 18V6C18.25 4.423 17.577 3.75 16 3.75H8ZM14.25 6C14.25 5.586 13.914 5.25 13.5 5.25H10.5C10.086 5.25 9.75 5.586 9.75 6C9.75 6.414 10.086 6.75 10.5 6.75H13.5C13.914 6.75 14.25 6.414 14.25 6ZM12 17C11.448 17 11 17.448 11 18C11 18.552 11.448 19 12 19C12.552 19 13 18.552 13 18C13 17.448 12.552 17 12 17Z"></path>
              </svg>
            </div>
            <div class="support-content">
              <h4>Mobile solutions</h4>
              <p>
                Unlock fresh ways of interacting with your target audience and
                new revenue streams with native or hybrid mobile application
                development.
              </p>
            </div>
          </div>
        </div>
        <!-- Start services -->
        <div class="">
          <div class="support-services">
            <div class="support-images align-items-center justify-content-center d-flex">
              <svg width="1em" height="1em" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="icon-gradient">
                <path d="M21 14.25H19.75V9.75H21C21.414 9.75 21.75 9.414 21.75 9C21.75 8.586 21.414 8.25 21 8.25H19.75V8C19.75 5.582 18.418 4.25 16 4.25H15.75V3C15.75 2.586 15.414 2.25 15 2.25C14.586 2.25 14.25 2.586 14.25 3V4.25H9.75V3C9.75 2.586 9.414 2.25 9 2.25C8.586 2.25 8.25 2.586 8.25 3V4.25H8C5.582 4.25 4.25 5.582 4.25 8V8.25H3C2.586 8.25 2.25 8.586 2.25 9C2.25 9.414 2.586 9.75 3 9.75H4.25V14.25H3C2.586 14.25 2.25 14.586 2.25 15C2.25 15.414 2.586 15.75 3 15.75H4.25V16C4.25 18.418 5.582 19.75 8 19.75H8.25V21C8.25 21.414 8.586 21.75 9 21.75C9.414 21.75 9.75 21.414 9.75 21V19.75H14.25V21C14.25 21.414 14.586 21.75 15 21.75C15.414 21.75 15.75 21.414 15.75 21V19.75H16C18.418 19.75 19.75 18.418 19.75 16V15.75H21C21.414 15.75 21.75 15.414 21.75 15C21.75 14.586 21.414 14.25 21 14.25ZM18.25 16C18.25 17.577 17.577 18.25 16 18.25H8C6.423 18.25 5.75 17.577 5.75 16V8C5.75 6.423 6.423 5.75 8 5.75H16C17.577 5.75 18.25 6.423 18.25 8V16ZM14 7.75H10C8.591 7.75 7.75 8.591 7.75 10V14C7.75 15.409 8.591 16.25 10 16.25H14C15.409 16.25 16.25 15.409 16.25 14V10C16.25 8.591 15.409 7.75 14 7.75ZM14.75 14C14.75 14.589 14.589 14.75 14 14.75H10C9.411 14.75 9.25 14.589 9.25 14V10C9.25 9.411 9.411 9.25 10 9.25H14C14.589 9.25 14.75 9.411 14.75 10V14Z"></path>
              </svg>
            </div>
            <div class="support-content">
              <h4>DevOps & High-Load Systems</h4>
              <p>
                Our DevOps services simplify handling system load challenges. We
                collaborate on strategies for transformation, unification,
                optimization, and scaling.
              </p>
            </div>
          </div>
        </div>
        <!-- Start services -->
        <div class="">
          <div class="support-services">
            <div class="support-images align-items-center justify-content-center d-flex">
              <svg width="1em" height="1em" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="icon-gradient">
                <path d="M10.27 21C10.27 21.69 9.71002 22.25 9.02002 22.25C8.33102 22.25 7.76501 21.69 7.76501 21C7.76501 20.31 8.32001 19.75 9.01001 19.75H9.02002C9.71002 19.75 10.27 20.31 10.27 21ZM17.02 19.75H17.01C16.32 19.75 15.765 20.31 15.765 21C15.765 21.69 16.33 22.25 17.02 22.25C17.71 22.25 18.27 21.69 18.27 21C18.27 20.31 17.71 19.75 17.02 19.75ZM21.705 8.492L20.691 14.658C20.428 16.104 19.774 17.75 17 17.75H8.73401C7.37501 17.75 6.20396 16.735 6.01196 15.389L4.50195 4.82401C4.41395 4.21201 3.88301 3.75101 3.26501 3.75101H3C2.586 3.75101 2.25 3.41501 2.25 3.00101C2.25 2.58701 2.586 2.25101 3 2.25101H3.26599C4.62499 2.25101 5.79604 3.266 5.98804 4.612L6.07996 5.25101H19C19.818 5.25101 20.5881 5.611 21.1121 6.239C21.6351 6.866 21.852 7.688 21.705 8.492ZM19.213 14.403L19.3199 13.75H13C12.586 13.75 12.25 13.414 12.25 13C12.25 12.586 12.586 12.25 13 12.25H19.567L20.2271 8.23599C20.2961 7.85799 20.198 7.484 19.959 7.19901C19.72 6.91401 19.371 6.75 18.999 6.75H6.29297L7.49695 15.177C7.58495 15.789 8.11601 16.25 8.73401 16.25H17C18.597 16.25 18.986 15.654 19.213 14.403Z"></path>
              </svg>
            </div>
            <div class="support-content">
              <h4>E-commerce solutions</h4>
              <p>
                Build or modernize your e-commerce brand by delivering a stellar
                shopping experience and simplifying operations with custom
                product development and automation.
              </p>
            </div>
          </div>
        </div>
        <!-- Start services -->
        <div class="">
          <div class="support-services">
            <div class="support-images align-items-center justify-content-center d-flex">
              <svg width="1em" height="1em" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="icon-gradient">
                <path d="M16 15.75C19.171 15.75 21.75 13.171 21.75 10C21.75 6.829 19.171 4.25 16 4.25C15.794 4.25 15.5931 4.26001 15.3921 4.28101C15.0721 3.83401 14.7031 3.42402 14.2881 3.05902C12.9641 1.89302 11.264 1.25098 9.5 1.25098C5.502 1.25098 2.25 4.50298 2.25 8.50098C2.25 12.499 5.502 15.751 9.5 15.751H11.25V17.368C10.339 17.628 9.62694 18.34 9.36694 19.251H5C4.586 19.251 4.25 19.587 4.25 20.001C4.25 20.415 4.586 20.751 5 20.751H9.36694C9.69594 21.901 10.745 22.751 12 22.751C13.255 22.751 14.3041 21.901 14.6331 20.751H19C19.414 20.751 19.75 20.415 19.75 20.001C19.75 19.587 19.414 19.251 19 19.251H14.6331C14.3731 18.34 13.661 17.628 12.75 17.368V15.751H16V15.75ZM13.25 20C13.25 20.689 12.689 21.25 12 21.25C11.311 21.25 10.75 20.689 10.75 20C10.75 19.311 11.311 18.75 12 18.75C12.689 18.75 13.25 19.311 13.25 20ZM3.75 8.5C3.75 5.329 6.329 2.75 9.5 2.75C10.898 2.75 12.2469 3.25902 13.2959 4.18402C13.7239 4.56202 14.0931 4.99901 14.3931 5.48401C14.5551 5.74801 14.8619 5.88503 15.1689 5.82703C15.4449 5.77503 15.717 5.75 16 5.75C18.344 5.75 20.25 7.656 20.25 10C20.25 12.344 18.344 14.25 16 14.25H9.5C6.329 14.25 3.75 11.671 3.75 8.5Z"></path>
              </svg>
            </div>
            <div class="support-content">
              <h4>Cloud migration</h4>
              <p>
                Smarten up your decision-making and tap your business’s
                potential with ML and AI by drawing out key insights from data.
              </p>
            </div>
          </div>
        </div>
        <!-- Start services -->
        <div class="">
          <div class="support-services">
            <div class="support-images align-items-center justify-content-center d-flex">
              <svg width="1em" height="1em" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="icon-gradient">
                <path d="M21.75 9V6C21.75 3.582 20.418 2.25 18 2.25H6C3.582 2.25 2.25 3.582 2.25 6V9C2.25 10.366 2.68912 11.372 3.49512 12C2.68912 12.628 2.25 13.634 2.25 15V18C2.25 20.418 3.582 21.75 6 21.75H18C20.418 21.75 21.75 20.418 21.75 18V15C21.75 13.634 21.3109 12.628 20.5049 12C21.3109 11.372 21.75 10.366 21.75 9ZM20.25 15V18C20.25 19.577 19.577 20.25 18 20.25H6C4.423 20.25 3.75 19.577 3.75 18V15C3.75 13.423 4.423 12.75 6 12.75H18C19.577 12.75 20.25 13.423 20.25 15ZM6 11.25C4.423 11.25 3.75 10.577 3.75 9V6C3.75 4.423 4.423 3.75 6 3.75H18C19.577 3.75 20.25 4.423 20.25 6V9C20.25 10.577 19.577 11.25 18 11.25H6ZM15.5 7.51196C15.5 8.06396 15.052 8.51196 14.5 8.51196C13.948 8.51196 13.5 8.06396 13.5 7.51196C13.5 6.95996 13.948 6.51196 14.5 6.51196C15.052 6.51196 15.5 6.95996 15.5 7.51196ZM18.5 7.51196C18.5 8.06396 18.052 8.51196 17.5 8.51196C16.948 8.51196 16.5 8.06396 16.5 7.51196C16.5 6.95996 16.948 6.51196 17.5 6.51196C18.052 6.51196 18.5 6.95996 18.5 7.51196ZM13.5 16.5C13.5 15.948 13.948 15.5 14.5 15.5C15.052 15.5 15.5 15.948 15.5 16.5C15.5 17.052 15.052 17.5 14.5 17.5C13.948 17.5 13.5 17.052 13.5 16.5ZM16.5 16.5C16.5 15.948 16.948 15.5 17.5 15.5C18.052 15.5 18.5 15.948 18.5 16.5C18.5 17.052 18.052 17.5 17.5 17.5C16.948 17.5 16.5 17.052 16.5 16.5Z"></path>
              </svg>
            </div>
            <div class="support-content">
              <h4>FinTech solutions</h4>
              <p>
                Revolutionize finance with our cutting-edge FinTech solutions,
                delivering innovation and efficiency in every transaction.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="call-to-action-2 section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>
          Unleashing the Power of Innovation through Expert Web Development –
          Your Success, Our Code.
        </h2>
      </div>
    </div>
  </div>
</section>

<section class="about" id="about">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="title text-center w-100">
          <h2>About Us</h2>
          <p>More Than Code: Our Commitment to Excellence and Client Success</p>
          <div class="border" style="border-color: #28abe3 !important"></div>
        </div>
      </div>
      <div class="col-md-6">
        <img src="images/about-us.jpg" class="img-fluid" alt="" />
      </div>
      <div class="col-md-6">
        <p>
          At <b>GT Technologies</b>, we are more than just creators; we are
          passionate craftsmen dedicated to shaping the digital world. Our
          inception emerged from a shared enthusiasm for transformation, fueled
          by a commitment to redefine the landscape of online experiences.
          Rooted in principles of innovation, collaboration, and client
          satisfaction, we navigate the dynamic realms of the digital universe
          with zest.
        </p>
        <p>
          Our diverse team of creative minds, skilled artisans, and
          forward-thinkers converges to weave together the latest technologies
          with an artistic touch. Beyond mere coding, we strive to compose
          compelling narratives that resonate across the digital spectrum. Our
          purpose is crystal clear – to design and craft digital solutions that
          transcend the ordinary. From startups to established entities, we
          adapt our approach to suit the unique requirements of each partner.
          Come embark on this exhilarating journey, where your digital
          aspirations align with our unwavering commitment to excellence.
        </p>
        <h4>InnovateHub: Coding Tomorrow's Vision</h4>
        <ul class="feature-list">
          <li>
            <i class="tf-ion-android-checkmark-circle"></i> Web Development
          </li>
          <li>
            <i class="tf-ion-android-checkmark-circle"></i> Application
            Development
          </li>
          <li>
            <i class="tf-ion-android-checkmark-circle"></i> Website Design
          </li>
          <li><i class="tf-ion-android-checkmark-circle"></i> UI/UX Design</li>
          <li><i class="tf-ion-android-checkmark-circle"></i> SEO Service</li>
        </ul>
        <a href="/contact" class="btn btn-main mt-20">Learn More</a>
      </div>
    </div>
  </div>
</section>

<section class="call-to-action section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>Let's Create Something Together</h2>
        <p>
          Empowering Your Digital Presence with Cutting-Edge Web Solutions
          – We Craft Excellence in Every Line of Code.
        </p>
        <a href="#contact" class="btn btn-main">Contact Us</a>
      </div>
    </div>
  </div>
</section>

<section class="services" id="services">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-12">
        <div class="title text-center">
          <h2>Our Services</h2>
          <p>
            we bring your digital ideas to life. Our team crafts websites and
            apps with a personal touch, tailored to your needs. Let's make your
            online presence stand out together!
          </p>
          <div class="border" style="border-color: #28abe3 !important"></div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
        <div class="service-block p-4 color-bg text-center">
          <div class="service-icon text-center">
            <i class="tf-ion-ios-copy-outline"></i>
          </div>
          <h3>Web development</h3>
          <p>
            Unlock the full potential of your online presence with our expert
            web development services, tailored to enhance user experience and
            optimize performance.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
        <div class="service-block p-4 text-center">
          <div class="service-icon text-center">
            <i class="tf-ion-ios-alarm-outline"></i>
          </div>
          <h3>Responsive Design</h3>
          <p>
            Improve user engagement across devices with our responsive design
            expertise, ensuring your website seamlessly adapts to various screen
            sizes for an optimal viewing experience.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
        <div class="service-block p-4 color-bg text-center">
          <div class="service-icon text-center">
            <i class="tf-ion-ios-book-outline"></i>
          </div>
          <h3>Shopify theme development</h3>
          <p>
            Transform your e-commerce presence with our specialized Shopify
            theme development. ensuring a seamless shopping experience for your
            customers.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
        <div class="service-block p-4 text-center">
          <div class="service-icon text-center">
            <i class="tf-ion-ios-briefcase-outline"></i>
          </div>
          <h3>Graphic Design</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur.. Sed id lorem eget orci
            dictum facilisis vel id tellus. Nullam iaculis arcu at mauris
            dapibus consectetur.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
        <div class="service-block p-4 color-bg text-center">
          <div class="service-icon text-center">
            <i class="tf-ion-ios-crop"></i>
          </div>
          <h3>Apps Development</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur.. Sed id lorem eget orci
            dictum facilisis vel id tellus. Nullam iaculis arcu at mauris
            dapibus consectetur.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
        <div class="service-block p-4 text-center">
          <div class="service-icon text-center">
            <i class="tf-ion-ios-home-outline"></i>
          </div>
          <h3>Networking</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur.. Sed id lorem eget orci
            dictum facilisis vel id tellus. Nullam iaculis arcu at mauris
            dapibus consectetur.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="team-skills section-sm" id="skills">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="title text-center">
          <h2>Our Skills</h2>
          <p>
            our team excels in coding, design, and digital strategy. We bring a
            blend of skills to create seamless user experiences and robust web
            solutions. Partner with us for expertise, creativity, and digital
            excellence.
          </p>
          <div class="border" style="border-color: #28abe3 !important"></div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="team-skills-content">
          <h2>Simple To Start</h2>
          <p>
            Vestibulum nisl tortor, consectetur quis imperdiet bium, letcu.
            Sedndime ntumiaculis ex, in faucibus lorem accumsan non. Donec
            mattis tin unt metuorbi sed tort Igor aman luctus dignissim.
            Vestibulum nisl tortor, consectetur quis imperdiet bium, letcu.
            Sedndime ntumiaculis ex, in faucibus lorem accumsan non.
          </p>
          <a href="#contact" class="btn btn-main mt-20">Contact Us</a>
        </div>
      </div>
      <div class="col-md-6 col-md-offset-1">
        <div class="progress-block">
          <ul>
            <li>
              <span>Web Application</span>
              <div class="progress">
                <div class="progress-bar" style="width: 95%"></div>
              </div>
            </li>
            <li>
              <span>DevOps Solution</span>
              <div class="progress">
                <div class="progress-bar" style="width: 85%"></div>
              </div>
            </li>
            <li>
              <span>Graphic Design</span>
              <div class="progress">
                <div class="progress-bar" style="width: 92%"></div>
              </div>
            </li>
            <li>
              <span>Mobile Application</span>
              <div class="progress">
                <div class="progress-bar" style="width: 78%"></div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="clients-slider" class="clients-logo-slider">
          <img src="images/client-logo/logo1.png" alt="" />
          <img src="images/client-logo/logo-2.png" alt="" />
          <img src="images/client-logo/logo-3.png" alt="" />
          <img src="images/client-logo/logo-4.png" alt="" />
          <img src="images/client-logo/logo-5.png" alt="" />
          <img src="images/client-logo/logo1.png" alt="" />
          <img src="images/client-logo/logo-2.png" alt="" />
          <img src="images/client-logo/logo-3.png" alt="" />
          <img src="images/client-logo/logo-4.png" alt="" />
          <img src="images/client-logo/logo-5.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pricing-table" id="pricing">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="title title-white text-center">
          <h2>Pricing</h2>
          <p>
            Discover tailored pricing options for your needs—transparent,
            competitive, and flexible. Choose the perfect package for your
            budget and goals.
          </p>
          <div class="border" style="border-color: #28abe3 !important"></div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="pricing-item">
          <div class="price-title">
            <h3>Hourly</h3>
            <strong class="value">$15 /<small class="small-xs">hour</small></strong>
          </div>
          <ul>
            <li><i class="tf-ion-ios-arrow-forward"></i> Speedy progression</li>
            <li>
              <i class="tf-ion-ios-arrow-forward"></i> Consultative approach
            </li>
            <li><i class="tf-ion-ios-arrow-forward"></i> 24/7 assistance</li>
            <li>
              <i class="tf-ion-ios-arrow-forward"></i> Scalability, flexibility
              and versatility
            </li>
            <li><i class="tf-ion-ios-arrow-forward"></i> Assured quality</li>
            <li>
              <i class="tf-ion-ios-arrow-forward"></i> Acclaimed resources
            </li>
          </ul>
          <a class="btn btn-main" href="#">Hire Us.</a>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="pricing-item">
          <div class="price-title">
            <h3>Dedicated</h3>
            <strong class="value">$2000 / <small class="small-xs">month</small></strong>
          </div>
          <ul>
            <li><i class="tf-ion-ios-arrow-forward"></i> Daily Scrum</li>
            <li><i class="tf-ion-ios-arrow-forward"></i> Scrum planning</li>
            <li><i class="tf-ion-ios-arrow-forward"></i> Speedy progression</li>
            <li>
              <i class="tf-ion-ios-arrow-forward"></i> Consultative approach
            </li>
            <li><i class="tf-ion-ios-arrow-forward"></i> 24/7 assistance</li>
            <li>
              <i class="tf-ion-ios-arrow-forward"></i> Scalability, flexibility
              and versatility
            </li>
            <li><i class="tf-ion-ios-arrow-forward"></i> Assured quality</li>
            <li>
              <i class="tf-ion-ios-arrow-forward"></i> Acclaimed resources
            </li>
          </ul>
          <a class="btn btn-main" href="#">Hire Us.</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="contact-us" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="title text-center">
          <h2>Get In Touch</h2>
          <p>
            We are a family filled with talented experts that help global
            brands, enterprises, mid-size businesses or even startups with
            innovative solutions.
          </p>
          <div class="border" style="border-color: #28abe3 !important"></div>
        </div>
      </div>
      <div class="contact-details col-md-6">
        <h3>Contact Details</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, vero,
          provident, eum eligendi blanditiis ex explicabo vitae nostrum facilis
          asperiores dolorem illo officiis ratione vel fugiat dicta laboriosam
          labore adipisci.
        </p>
        <ul class="contact-short-info">
          <li>
            <i class="tf-ion-ios-home"></i>
            <span>Khaja Road, Bayzid, Chittagong, Bangladesh</span>
          </li>
          <li>
            <i class="tf-ion-android-phone-portrait"></i>
            <span>Phone: +880-31-000-000</span>
          </li>
          <li>
            <i class="tf-ion-android-globe"></i>
            <span>Fax: +880-31-000-000</span>
          </li>
          <li>
            <i class="tf-ion-android-mail"></i>
            <span>Email: hello@meghna.com</span>
          </li>
        </ul>
        <div class="social-icon">
          <ul>
            <li>
              <a href="#"><i class="tf-ion-social-facebook"></i></a>
            </li>
            <li>
              <a href="#"><i class="tf-ion-social-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="tf-ion-social-dribbble-outline"></i></a>
            </li>
            <li>
              <a href="#"><i class="tf-ion-social-linkedin-outline"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="contact-form col-md-6">
        <form id="contact-form" method="post" role="form">
          <div class="form-group">
            <input type="text" placeholder="Your Name" class="form-control" name="name" id="name" />
          </div>

          <div class="form-group">
            <input type="email" placeholder="Your Email" class="form-control" name="email" id="email" />
          </div>

          <div class="form-group">
            <input type="text" placeholder="Subject" class="form-control" name="subject" id="subject" />
          </div>

          <div class="form-group">
            <textarea rows="6" placeholder="Message" class="form-control" name="message" id="message"></textarea>
          </div>

          <div id="success" class="success">
            Thank you. The Mailman is on His Way :)
          </div>

          <div id="error" class="error">
            Sorry, don't know what happened. Try later :(
          </div>
          <div id="cf-submit">
            <input type="submit" id="contact-submit" class="btn btn-transparent" value="Submit" />
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<%- include('footer'); -%>