<%- include('header'); -%>

<section class="single-page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Pricing</h2>
      </div>
    </div>
  </div>
</section>

<section class="about-2 section" id="about">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12" style="display: none">
        <div class="title text-center">
          <h2>We Are GT Technologies</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam
            reprehenderit accusamus labore iusto, aut, eum itaque illo totam
            tempora eius.
          </p>
          <div class="border"></div>
        </div>
      </div>
      <div class="col-md-6">
        <img src="images/about/about-2.png" class="img-fluid" alt="" />
      </div>
      <div class="col-md-6">
        <ul class="checklist">
          <li>
            <b>Transparent Pricing:</b> Our pricing is clear and
            straightforward, ensuring you know exactly what you're paying for
            without hidden fees or surprises.
          </li>
          <li>
            <b>Tailored Packages:</b> Choose from a variety of packages designed
            to meet different needs and budgets, allowing you to find the
            perfect solution for your requirements.
          </li>
          <li>
            <b>Competitive Rates:</b> We offer competitive rates in the market,
            providing value for your investment while maintaining high-quality
            products/services.
          </li>
          <li>
            <b>No Long-Term Contracts:</b> Enjoy the freedom of our services
            without being tied down by lengthy contracts. We believe in earning
            your trust with each interaction.
          </li>
          <li>
            <b>Customer-Centric Approach:</b> Our pricing is aligned with your
            satisfaction and success. We strive to deliver exceptional value
            that goes beyond the cost.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="pricing-table" id="pricing">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="title title-white text-center">
          <h2>Pricing</h2>
          <p>
            Discover tailored pricing options for your needs—transparent,
            competitive, and flexible. Choose the perfect package for your
            budget and goals.
          </p>
          <div class="border"></div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12 mb-3 mb-sm-0">
        <div class="pricing-item">
          <div class="price-title">
            <h3>Hourly</h3>
            <strong class="value"
              >$15 /<small class="small-xs">hour</small></strong
            >
          </div>
          <ul>
            <li><i class="tf-ion-ios-arrow-forward"></i> Speedy progression</li>
            <li>
              <i class="tf-ion-ios-arrow-forward"></i> Consultative approach
            </li>
            <li><i class="tf-ion-ios-arrow-forward"></i> 24/7 assistance</li>
            <li>
              <i class="tf-ion-ios-arrow-forward"></i> Scalability, flexibility
              and versatility
            </li>
            <li><i class="tf-ion-ios-arrow-forward"></i> Assured quality</li>
            <li>
              <i class="tf-ion-ios-arrow-forward"></i> Acclaimed resources
            </li>
          </ul>
          <a class="btn btn-main mt-auto" href="#">Hire Us.</a>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="pricing-item">
          <div class="price-title">
            <h3>Dedicated</h3>
            <strong class="value"
              >$2000 / <small class="small-xs">month</small></strong
            >
          </div>
          <ul>
            <li><i class="tf-ion-ios-arrow-forward"></i> Daily Scrum</li>
            <li><i class="tf-ion-ios-arrow-forward"></i> Scrum planning</li>
            <li><i class="tf-ion-ios-arrow-forward"></i> Speedy progression</li>
            <li>
              <i class="tf-ion-ios-arrow-forward"></i> Consultative approach
            </li>
            <li><i class="tf-ion-ios-arrow-forward"></i> 24/7 assistance</li>
            <li>
              <i class="tf-ion-ios-arrow-forward"></i> Scalability, flexibility
              and versatility
            </li>
            <li><i class="tf-ion-ios-arrow-forward"></i> Assured quality</li>
            <li>
              <i class="tf-ion-ios-arrow-forward"></i> Acclaimed resources
            </li>
          </ul>
          <a class="btn btn-main" href="#">Hire Us.</a>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include('footer'); -%>
