<%- include('header'); -%>

<section class="single-page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Our Services</h2>
      </div>
    </div>
  </div>
</section>

<section class="services" id="services">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-12">
        <div class="title text-center">
          <h2>Our Services</h2>
          <div>
            <p>Welcome to GT technologies Services, your destination for tailored solutions. Discover how our expert team delivers quality, innovation, and reliability in every service, empowering your success.</p>
          </div>
          <div class="border"></div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
        <div class="service-block p-4 color-bg text-center">
          <div class="service-icon text-center">
            <i class="tf-ion-ios-copy-outline"></i>
          </div>
          <h3>WordPress Theme</h3>
          <p>Lorem ipsum dolor sit amet, consectetur.. Sed id lorem eget orci dictum facilisis vel id tellus. Nullam
            iaculis arcu at mauris dapibus consectetur.</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
        <div class="service-block p-4 text-center">
          <div class="service-icon text-center">
            <i class="tf-ion-ios-alarm-outline"></i>
          </div>
          <h3>Responsive Design</h3>
          <p>Lorem ipsum dolor sit amet, consectetur.. Sed id lorem eget orci dictum facilisis vel id tellus. Nullam
            iaculis arcu at mauris dapibus consectetur.</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
        <div class="service-block p-4 color-bg text-center">
          <div class="service-icon text-center">
            <i class="tf-ion-ios-book-outline"></i>
          </div>
          <h3>Media &amp; Advertisement</h3>
          <p>Lorem ipsum dolor sit amet, consectetur.. Sed id lorem eget orci dictum facilisis vel id tellus. Nullam
            iaculis arcu at mauris dapibus consectetur.</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
        <div class="service-block p-4  text-center">
          <div class="service-icon text-center">
            <i class="tf-ion-ios-briefcase-outline"></i>
          </div>
          <h3>Graphic Design</h3>
          <p>Lorem ipsum dolor sit amet, consectetur.. Sed id lorem eget orci dictum facilisis vel id tellus. Nullam
            iaculis arcu at mauris dapibus consectetur.</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
        <div class="service-block p-4 color-bg text-center">
          <div class="service-icon text-center">
            <i class="tf-ion-ios-crop"></i>
          </div>
          <h3>Apps Development</h3>
          <p>Lorem ipsum dolor sit amet, consectetur.. Sed id lorem eget orci dictum facilisis vel id tellus. Nullam
            iaculis arcu at mauris dapibus consectetur.</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
        <div class="service-block p-4 text-center">
          <div class="service-icon text-center">
            <i class="tf-ion-ios-home-outline"></i>
          </div>
          <h3>Networking</h3>
          <p>Lorem ipsum dolor sit amet, consectetur.. Sed id lorem eget orci dictum facilisis vel id tellus. Nullam
            iaculis arcu at mauris dapibus consectetur.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="team-skills section-sm" id="skills">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="title text-center">
          <h2>Our Skills</h2>
          <p>Dive into the realm of our capabilities—a comprehensive glimpse into the multifaceted expertise that defines us.</p>
          <div class="border"></div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="team-skills-content">
          <h2>Simple To Start</h2>
          <p>Vestibulum nisl tortor, consectetur quis imperdiet bium, letcu. Sedndime ntumiaculis ex, in
            faucibus lorem accumsan non. Donec mattis tin unt metuorbi sed tort Igor aman luctus dignissim.
            Vestibulum nisl tortor, consectetur quis imperdiet bium, letcu. Sedndime ntumiaculis ex, in
            faucibus lorem accumsan non.</p>
          <a href="" class="btn btn-main mt-20">Contact Us</a>
        </div>
      </div>
      <div class="col-md-6 col-md-offset-1">
        <div class="progress-block">
          <ul>
            <li>
              <span>Photoshop</span>
              <div class="progress">
                <div class="progress-bar" style="width: 90%;">
                </div>
              </div>
            </li>
            <li>
              <span>Web Application</span>
              <div class="progress">
                <div class="progress-bar" style="width: 85%;">
                </div>
              </div>
            </li>
            <li>
              <span>Andriod Application</span>
              <div class="progress">
                <div class="progress-bar" style="width: 92%;">
                </div>
              </div>
            </li>
            <li>
              <span>IOS Development</span>
              <div class="progress">
                <div class="progress-bar" style="width: 78%;">
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="clients-slider" class="clients-logo-slider">
          <img src="images/client-logo/logo1.png" alt="">
          <img src="images/client-logo/logo-2.png" alt="">
          <img src="images/client-logo/logo-3.png" alt="">
          <img src="images/client-logo/logo-4.png" alt="">
          <img src="images/client-logo/logo-5.png" alt="">
          <img src="images/client-logo/logo1.png" alt="">
          <img src="images/client-logo/logo-2.png" alt="">
          <img src="images/client-logo/logo-3.png" alt="">
          <img src="images/client-logo/logo-4.png" alt="">
          <img src="images/client-logo/logo-5.png" alt="">
        </div>

      </div>
    </div>
  </div>
</section>

<%- include('footer'); -%>